.env
node_modules/
.DS_Store
getAmazonApiTest.js
report.json
practiceSheets.js
serverForJsonDl.js
output.json
practice.js
workerForLocal.js
fetchProdData.js
getAmazonSgData.js
--install-extension
src/automation/
coupangScraper.js
scraper/
getMarketPlaceOffer.js
src/api/shopee/my
